################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Exe04/.vs/Exe04/v17/.suo
/Exe04/.vs/Exe04/DesignTimeBuild
/Exe04/.vs/Exe04/v17
/Exe04/.vs/ProjectEvaluation
/Exe05/.vs
/Exe05/obj/Debug/net7.0
/Exe05/obj/Release/net7.0
/Exe05/obj
/.vs/ExerciciosArrays/FileContentIndex
/Exe02/obj/Debug/net7.0/Exe02.assets.cache
/Exe02/obj/Debug/net7.0/Exe02.GeneratedMSBuildEditorConfig.editorconfig
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Exe02/obj/Release/net7.0
/Exe03/.vs/Exe03/DesignTimeBuild/.dtbcache.v2
/Exe03/.vs/Exe03/v17/.futdcache.v2
/Exe03/.vs/Exe03/v17/.suo
/Exe03/.vs/ProjectEvaluation/exe03.metadata.v7.bin
/Exe03/.vs/ProjectEvaluation/exe03.projects.v7.bin
/Exe03/obj/Debug/net7.0/Exe03.assets.cache
/Exe03/obj/Debug/net7.0/Exe03.GeneratedMSBuildEditorConfig.editorconfig
/Exe03/obj/Release/net7.0/Exe03.assets.cache
/Exe03/obj/Release/net7.0/Exe03.GeneratedMSBuildEditorConfig.editorconfig
/Exe05/bin/Debug/net7.0
/Exe01/bin/Debug/net7.0/Exe01.dll
/Exe01/bin/Debug/net7.0/Exe01.pdb
/.vs/ExerciciosArrays/v17/.wsuo
/Exe01/obj/Debug/net7.0/Exe01.assets.cache
/Exe01/obj/Debug/net7.0/Exe01.dll
/Exe01/obj/Debug/net7.0/Exe01.GeneratedMSBuildEditorConfig.editorconfig
/Exe01/obj/Debug/net7.0/Exe01.genruntimeconfig.cache
/Exe01/obj/Debug/net7.0/Exe01.pdb
*.vsidx
/Exe01/.vs/Exe01/DesignTimeBuild/.dtbcache.v2
/Exe01/.vs/Exe01/FileContentIndex/c995094e-fb36-4333-8f35-894e351e1009.vsidx
/Exe01/.vs/Exe01/FileContentIndex/eb9e47c6-d575-40c5-8025-ca620f9d48e5.vsidx
/Exe01/.vs/Exe01/v17/.suo
/Exe01/obj/Exe01.csproj.nuget.dgspec.json
/Exe01/obj/project.nuget.cache
/Exe04/.vs/Exe04/FileContentIndex/98b4b6cc-957a-46e1-a508-e841ee08c7c8.vsidx
