################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Exe04/.vs/Exe04/v17/.suo
/Exe04/.vs/Exe04/DesignTimeBuild
/Exe04/.vs/Exe04/v17
/Exe04/.vs/ProjectEvaluation
/Exe05/.vs
/Exe05/obj/Debug/net7.0
/Exe05/obj/Release/net7.0
/Exe05/obj
/.vs/ExerciciosArrays/FileContentIndex
/Exe02/obj/Debug/net7.0/Exe02.assets.cache
/Exe02/obj/Debug/net7.0/Exe02.GeneratedMSBuildEditorConfig.editorconfig
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Exe02/obj/Release/net7.0
/Exe03/.vs/Exe03/DesignTimeBuild/.dtbcache.v2
/Exe03/.vs/Exe03/v17/.futdcache.v2
/Exe03/.vs/Exe03/v17/.suo
/Exe03/.vs/ProjectEvaluation/exe03.metadata.v7.bin
/Exe03/.vs/ProjectEvaluation/exe03.projects.v7.bin
/Exe03/obj/Debug/net7.0/Exe03.assets.cache
/Exe03/obj/Debug/net7.0/Exe03.GeneratedMSBuildEditorConfig.editorconfig
/Exe03/obj/Release/net7.0/Exe03.assets.cache
/Exe03/obj/Release/net7.0/Exe03.GeneratedMSBuildEditorConfig.editorconfig
/Exe05/bin/Debug/net7.0
